apiVersion: v1
kind: ConfigMap
metadata:
  name: grafana-datasources-cm
  namespace: monitoring
data:
  datasource.yaml: |
    apiVersion: 1
    datasources:
    - name: Prometheus
      type: prometheus
      access: proxy
      url: http://prometheus-service.monitoring.svc.cluster.local:9090  # Auto-connects
      isDefault: true
